.boton{
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    background-color: mediumblue;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#video{
    width: 500px;
}

.parrafos{
    font-size: x-large;
    color: blueviolet;
    text-decoration: solid;
}

.hide{
    display: none;
}
