<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<body>
    <div class="container">
        <p class="principal"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis vel molestiae, eveniet hic impedit quo sint ad esse enim corrupti.Rem voluptate deleniti tenetur ipsa voluptates enim ut labore neque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem deserunt optio a modi cupiditate pariatur consectetur perspiciatis blanditiis neque ipsum, unde vel iure nostrum, ipsa at consequuntur et, dignissimos quaerat.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus molestiae labore nam delectus, ad ullam deserunt totam consequatur sint adipisci? Inventore doloribus quisquam assumenda soluta explicabo nostrum est quos pariatur.</p>    
        <button id="boton">Clic aqui para crear un elemento imagen jiji</button>
        <div class="botones">
            <button id="boton1">Avanzar</button>
            <button id="boton2">Retroceder</button>
            <button id="boton3">Ir 3</button>
        </div>
    </div>
    <script src="../scripts/createElement.js"></script>
</body>
</html>